body {
    background-color: #F8F8F8;
    font-family: "Open Sans", sans-serif;
    margin:0; padding:0;
}
a, a:visited {
    color:inherit;
    text-decoration: none;
}
.nav-item {
    display: inline-block;
    text-align: center;
    width: 33.33%;
    background-color:#5B8BDB;
    margin:0;
    font-size: 18px;
    -webkit-transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
       -moz-transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
         -o-transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
            transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
.nav-item:hover {
    background-color: #4C74B8;
}
.navbar {
    width:100%;
    padding:0;
    font-size: 0;
    position: fixed;
    top:0;
}
.container-content {
    margin: 0 auto;
    min-width: 500px;
    width:70%;
    text-align: center;
}


#accordion section, #accordion .pointer, #accordion h1, #accordion p {
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
#accordion {
    margin-bottom:30px;
}
#accordion h1 {
    line-height:1.2;
    font-size:20px;
    font-weight: 400;
    background-color:#5B8BDB;
    margin:0;
    padding: 10px 10px 10px 30px;
    text-transform: uppercase;
}
#accordion h1:hover {
    background-color:#4C74B8;
}
#accordion section {
    overflow:hidden;
    height: 200px;
}
#accordion section.ac_hidden {
    height:44px;
}
#accordion .pointer {
    padding:0;
    margin:10px 0 0 6px;
    line-height:20px;
    width:13px;
    position:absolute;
}
#accordion section:not(.ac_hidden) .pointer {
    display:block;
    -webkit-transform:rotate(90deg);
       -moz-transform:rotate(90deg);
         -o-transform:rotate(90deg);
            transform:rotate(90deg);
    padding:0;
}
#accordion section:not(.ac_hidden) h1 {
    background-color:#4C74B8;
}